.top-bar h1 {
  border-radius: 8px;
  font-size: 40px;
  font-family:  sans-serif;
  margin-top: fixed;
  margin-bottom: 100px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
  background-color: bisque;
  
}

.copyright {
  border-top: 1px solid #262626;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  position: fixed;       
  bottom: 0;
  width: 100%;
}

.teams_table h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  border-left: 2px solid #262626;
  border-right: 2px solid #262626;
  border-radius: 8px;
  width: 30%;
}

.events_table h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  border-left: 2px solid #262626;
  border-right: 2px solid #262626;
  border-radius: 8px;
  width: 30%;
}